* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ocean: #C4F2EE;
  --pink: #F291A3;
  --black: #0D0D0D;
}


.App {
  text-align: center;
}

.container {
  width: 75%;
  margin: auto;
}



.App-header {
  background-color: var(--pink);
  padding-top: 1em;
  padding-bottom: 1em;
  /* border-bottom: solid black 8px; */
}


.header-border {
  height: 6px;
  background: radial-gradient(circle, rgba(242, 92, 92, 1) 0%, rgba(191, 65, 88, 1) 23%, rgba(42, 26, 64, 1) 97%);

}

.short {
  width: 90%;
  margin: auto;
}

body {
  background-color: var(--ocean);
  color: var(--black);
  font-family: 'Open Sans', sans-serif;

}


h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 2.5em;
}

h2 {
  margin: 1em auto .5em auto;
}

button {
  margin: 0 auto 1em auto;
  padding: .5em;
  background-color: #F2F2F2;
  border-radius: 10px;

}

.random-container,
.criteria-container {
  margin-bottom: 3em;
  height: 4.5em;
}


.button-container {
  display: flex;
}

fieldset {
  border: none;
}

form select,
form input {
  margin-bottom: 1em;
}



#input-container {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;

}

#input-container div {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-self: center;

}


#random-result,
#criteria-result {
  font-weight: bolder;
  translate: 0 1em;
  transition: 1s;
}



@media (min-width: 800px) {

  body {
    background-color: #F2F2F2;
  }

  #main-container {
    margin: 4em auto;
    display: flex;
    background-color: var(--ocean);
    height: 75vh;
    width: 60vw;
    border-radius: 20px;

  }

  .short {
    height: 0px;
  }

  .container{
    margin-top: 5em;
  }

  .random-container, .criteria-container{
    width: 50%;
    margin: auto;
  }
.random-container button{
  margin: 50px auto 50px auto;
}

}






/* 
#input-container label, #input-container input{
  color: red;
  border: solid black 1px;
} */






/*

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */